#fileTree {
    width: 50%;
    height: 100%;
    border: solid blue;
    overflow: auto;

}

#container {
    background-color: #f7f2f8;
    height: calc(100vh - 120px);
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media (min-width: 768px) {
    #fileTree {
        width: 20%;
        height: 100%;
        border: solid blue;
        overflow: auto;
    
    }
  }