.sidebar {
  width: 15%;
  height: 95vh;
  background-color: #783f72;
}
.tab-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.tab-link p {
  color: white;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.dashboard-logo {
  height: 80px;
  margin: 20px;
}
